<h2>My Staff</h2>
<div class="detail">
    <table class="employees">
        <tr class="e">
            <th class="d">change</th>
            <th class="d">first name</th> 
            <th class="d">family name</th> 
            <th class="d">id</th>
            <th class="d">email</th>
            <th class="d">salary</th>
            <th class="d">dateofbirth</th>
        </tr>
    <tr *ngFor="let employee of employees" [class.selected]="employee === selectedEmployee" (click)="onSelect(employee)"  class="employees">
        <input type="checkbox" class="badge">
        <td class="badge">{{employee.lname}}</td>
        <td class="badge">{{employee.fname}}</td>
        <td class="badge">{{employee.id}}</td>
        <td class="badge">{{employee.email}}</td>
        <td class="badge">{{employee.salary}}</td>
        <td class="badge">{{employee.dateofbirth}}</td>
    </tr>
</table>
    <app-employee-detail [employee]="selectedEmployee"></app-employee-detail>
</div>
<br>